.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-container2 {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.flex-inline {
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-5 {
    padding: 5px;
}

.pt-15 {
    padding-top: 15px;
}

.p-10 {
    padding: 10px;
}

.body-container2 {
    display: flex;
    padding: 10px;
}

.power-container2 {
    height: fit-content;
    width: 50%;
}

.power-container2 p {
    margin-block: 5px;
}

.data-container2 {
    border-left: 1px solid;
    width: 50%;
}
